@charset "gb2312";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;}
body,input,textarea{font-size:12px;font-family:\5b8b\4f53,Verdana,Arial}
a{color:#305999;text-decoration:none;outline:none}
a:hover{color:#090}
.clearfix2:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix2{*+height:1%}
.clearfix{overflow:hidden;_zoom:1;}
/* =e Reset */
html,body{height:100%;font-family:"Microsoft YaHei",Arial,sans-serif;}
body{line-height:170%;font-size:12px;color:#000;background:#FFF;}
/* 链接 [link加颜色英文] */
.red,a.red,.red a{color:#cf2025;}
.redb{color:#ff0103;font-weight:bold;}
.blue{color:#0065c3;}
.fuchsia{color:#EC02EC;}
.hide{display:none;}
/* =e Font */

/* =s layout */
/* 顶部导航 */
#NIE-topBar{height:40px;background-color:#fff;}
/* 外套 */
#wrap{/*max-width:1260px;min-width:960px;margin:0 auto;_width:expression((document.documentElement.clientWidth>1260||document.body.clientWidth>1260)?"1260px":"100%");*/}
/* 外套背景图 */
#wrap-bg1,#wrap-bg2,#wrap-bg3{width:100%;min-width:860px}
/* 主体 */
#main{position:relative;width:860px;margin:0 auto;}
/* 中心 */
#center{height:693px;position:relative;padding-top:1px;}

.maintx{width: 860px;height: 120px;margin-left: 110px;margin-top: 40px;}
.maintx h3{font-size: 30px;font-weight: 100;}
.mainNav{position:absolute;height:50px;top:120px;width:748px;left:0px; z-index:2;padding-left:110px;}
.mainNav a{float:left;width:62px;font-size:24px;height:50px;font-weight: 100;}

.setting{height:50px;margin-top: 25px;padding: 6px;font-size:14px;color:#333333; width:730px; margin-left:100px;}
.setting span{float:left;height:50px;line-height:50px;margin:0 10px;display:inline}
.setting span strong{color:#230d83;font-weight:bold}
.setting .set-school{width:100px; margin-left:20px;}
.setting .set-point{width:100px; margin-left:20px;color:#000000;}
.set-pointRemain{width:100px;color:#000000;}
.setting .btn{border: medium none;height: 40px;margin-top: 5px;text-indent: -9999px;width: 127px;background-image:url(../images/sprites.png);background-repeat:no-repeat;float:left;display:inline;margin-right:10px}
.setting .btnConmit{background-position:0 -50px;width:106px; margin-right:20px;}
.setting .btnConmit:hover{background-position:0 0}
.setting .btnConmit:active{background-position:0 -50px}
.setting .btnReset{background-position:-150px -50px}
.setting .btnReset:hover{background-position:-150px 0}
.setting .btnReset:active{background-position:-150px -50px}
.setting .set-level{float:left;margin:10px 25px 0 20px;height:32px;line-height:32px;color:#000000;}
.setting .set-level span{height: 32px;line-height: 32px;margin: 0;}
.setting .set-level input{width:50px;height:31px;text-align:center;background:url(../images/sprites.png) -50px -100px no-repeat;border:none;*line-height:31px;font-size:14px;color:#1f5466;font-weight:bold; margin-left:15px;}

.mainSubControl{position:absolute;width:43px;height:85px;top:122px;cursor:pointer}
.mainSubControl .maskButton{position:absolute;width:39px;height:40px;top:2px;left:2px;}
#mainSubControl-1{left:370px}
#mainSubControl-2{left:454px}
#mainSubControl-1 .maskButton{top:43px;}

.skillList{position:absolute;width:100px;height:400px;width:245px;top: 237px;}
#skillList-1{left: 131px;}
#skillList-2{left: 483px;}
.skillItem{position:absolute;width:46px;height:46px;background:url(../images/sprites.png) no-repeat 0 -100px}
.skillItem .icon{display:block;width:34px;height:34px;position:absolute;top:4px;left:5px;}
.skillItem .point{width:21px;height:21px;font-weight:bold;position:absolute;z-index:2;top:30px;left:30px;text-align:center;line-height:21px;display:none;background-image:url(../images/pointBox.png)}
.skillList .hover{display:block;width:32px;height:32px;position:absolute;top:5px;left:6px;background:#FFF;filter:alpha(opacity=0);opacity:0;z-index:1;cursor:default}
.skillList .enable .hover,.skillList .full .hover{cursor:pointer}
.skillList .enable .hover:hover,.skillList .full .hover:hover{filter:alpha(opacity=10);opacity:0.1;z-index:1}
.skillList .enable{background-position:0 -150px;color:#12b83a;}
.skillList .enable .point{display:none;background-position:0 0;display:block}
.skillList .disable{background:url(../images/sprites.png) no-repeat 0 -100px}
.skillList .disable .point{display:none}
.skillList .full{background-position:0 -200px}
.skillList .full .point{background-position:0 -21px;display:block;color:#f88906}
.skill_11{top:0;left:0}
.skill_12{top:0;left:62px}
.skill_13{top:0;left:124px}
.skill_14{top:0;left:186px}
.skill_21{top:58px;left:0}
.skill_22{top:58px;left:62px}
.skill_23{top:58px;left:124px}
.skill_24{top:58px;left:186px}
.skill_31{top:116px;left:0}
.skill_32{top:116px;left:62px}
.skill_33{top:116px;left:124px}
.skill_34{top:116px;left:186px}
.skill_41{top:174px;left:0}
.skill_42{top:174px;left:62px}
.skill_43{top:174px;left:124px}
.skill_44{top:174px;left:186px}
.skill_51{top:232px;left:0}
.skill_52{top:232px;left:62px}
.skill_53{top:232px;left:124px}
.skill_54{top:232px;left:186px}
.skill_61{top:290px;left:0;}
.skill_62{top:290px;left:62px;}
.skill_63{top:290px;left:124px;}
.skill_64{top:290px;left:186px;}
.skill_71{top:348px;left:0px; color:#FFFFFF;text-align:center;}
.skill_72{top:348px;left:50px; color:#FFFFFF;text-align:center;}
.skill_73{top:348px;left:100px; color:#FFFFFF;text-align:center;}
.skill_74{top:348px;left:150px; color:#FFFFFF;text-align:center;}
.skill_75{top:348px;left:200px; color:#FFFFFF;text-align:center;}
.arrow{width:23px;background:url(../images/arrow-body.png) repeat-y;position:absolute;}
.arrow span{position:absolute;width:23px;height:14px;line-height:14px;font-size:0;background:url(../images/arrow-head.png);bottom:-10px;left:0}


/* alterTips */
#alterTips{height:20px;background:#FF0000;color:#FFFFFF;position:absolute;display:none;padding:0 10px;z-index:1000}
/* tips */
#skillTips{position:absolute;width:300px;background:#000;filter:alpha(opacity=80);opacity: 0.8;display:none;color:#FFF;padding:10px;z-index:999;border:1px solid #999;border-radius:5px}
.tips-nextLevelTitle{margin-top:10px}
.tips-learn{color:#00FF00}
.tips-cancle{color:#FF0000}

/* .bx #wrap-bg1,.hh #wrap-bg1,.ly #wrap-bg1,.tx #wrap-bg1,.tj #wrap-bg1,.wl #wrap-bg1,.yj #wrap-bg1,.yl #wrap-bg1,.gm #wrap-bg1,.lw #wrap-bg1,.yh #wrap-bg1{background:url(../images/header.jpg) center 0 no-repeat;} */
.bx .mainSubControl,.hh .mainSubControl,.ly .mainSubControl,.tx .mainSubControl,.tj .mainSubControl,.wl .mainSubControl,.yj .mainSubControl,.yl .mainSubControl,.gm .mainSubControl,.lw .mainSubControl,.yh .mainSubControl{background:url(../images/mainsub.png) no-repeat;top:122px;cursor:pointer}
.bx .mainSubControl .maskButton,.hh .mainSubControl .maskButton,.ly .mainSubControl .maskButton,.tx .mainSubControl .maskButton,.tj .mainSubControl .maskButton,.wl .mainSubControl .maskButton,.yj .mainSubControl .maskButton,.yl .mainSubControl .maskButton,.gm .mainSubControl .maskButton,.lw .mainSubControl .maskButton,.yh .mainSubControl .maskButton{background:url(../images/mainsub.png) no-repeat -43px 0;}

/* .bx #wrap-bg2{background:url(../images/body_bx.jpg) center 307px no-repeat;}
.hh #wrap-bg2{background:url(../images/body_hh.jpg) center 307px no-repeat;}
.ly #wrap-bg2{background:url(../images/body_ly.jpg) center 307px no-repeat;}
.tx #wrap-bg2{background:url(../images/body_tx.jpg) center 307px no-repeat;}
.tj #wrap-bg2{background:url(../images/body_tj.jpg) center 307px no-repeat;}
.wl #wrap-bg2{background:url(../images/body_wl.jpg) center 307px no-repeat;}
.yj #wrap-bg2{background:url(../images/body_yj.jpg) center 307px no-repeat;}
.yl #wrap-bg2{background:url(../images/body_yl.jpg) center 307px no-repeat;}
.gm #wrap-bg2{background:url(../images/body_gm.jpg) center 307px no-repeat;}
.lw #wrap-bg2{background:url(../images/body_lw.jpg) center 307px no-repeat;}
.yh #wrap-bg2{background:url(../images/body_yh.jpg) center 307px no-repeat;} */